$bg-height: 399px;

.seat-chart-wrapper-wrapper {
    position: relative;
    height: $bg-height;
}

.seat-chart-wrapper {
    background: transparent url('/images/pages/sponsor/ExhibitMap2.gif') left top no-repeat;
    background-size: contain;
    width: 550px;
    height: $bg-height;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#seat-chart {
    position: absolute;
    top: 97px;
    left: 212px;
}

div.seatCharts-cell {
    border-radius: 0;
    border: 1px solid #000000;
    font-family: sans-serif;
    box-sizing: content-box;
}

div.seatCharts-row {
    height: auto;
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}

div.seatCharts-seat.unavailable {
    background-color: #B9DEF2;
    color: #B9DEF2;
}

div.seatCharts-seat:focus {
    border: 1px solid #000000;
}

div.seatCharts-cell.back-seat {
    width: 40px;
}

div.seatCharts-seat.selected {
    cursor: pointer;
    background-color: #ECFFC9;
    color: #333333;
}

div.seatCharts-seat.available {
    cursor: pointer;
    background-color: #C7D7A9;
    color: #333333;
}

div.seatCharts-seat.focused {
    cursor: pointer;
}

div.seatCharts-cell.seatCharts-space {
    visibility: hidden;
    margin: 0;
}
